{% extends 'main.html' %}

{% block content %}
<h1 class="page-title">Upcoming Events</h1>
<div class="articles-container">
    <div class="article-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvQL4twTG-6kKRLMgBTSEfPFfBgPJyClHeSg&s" alt="">
        <div class="article-content">
            <h2>Spiritual Gathering</h2>
            <p><strong>Venue:</strong> Tirupati Temple, Andhra Pradesh</p>
            <p><strong>Date:</strong> 20 March 2026</p>
            <p><strong>Time:</strong> 6:00 AM – 10:00 AM</p>
        </div>
    </div>

    <div class="article-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoudreg9sLj6k90BDUrYunt7KyukdoFUS2aw&s" alt="">
        <div class="article-content">
            <h2>Technology Seminar</h2>
            <p><strong>Venue:</strong> Hyderabad Convention Center</p>
            <p><strong>Date:</strong> 25 March 2026</p>
            <p><strong>Time:</strong> 10:00 AM – 2:00 PM</p>
        </div>
    </div>

    <div class="article-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Chennai_Central.jpg" alt="">
        <div class="article-content">
            <h2>Job Fair 2026</h2>
            <p><strong>Venue:</strong> Chennai Trade Center</p>
            <p><strong>Date:</strong> 30 March 2026</p>
            <p><strong>Time:</strong> 9:00 AM – 4:00 PM</p>
        </div>
    </div>

</div>
{% endblock %}